$white: #fff;
$orange: #f7aa47;
$light-green: #8dc63f;
$base-font: #979898;
$modal-title-color: #2c2e2f;
$light-blue: #00AEEF;
$light-white: #ccc;
$purple: #7106eb;
$blue: #00AEEF;
$dark-blue: #0e62c7;
$sky-blue: #00AEEF;
$green: #5ead03;
$brown: #cc3f44;
$dark-gray: #333;
$light-gray: #ddd;
$asterisk_color: #B21DAC;



